{% extends 'base.html' %}

{% block content %}

<div class="topnav">
    <div class="container-fluid">
                   {% include 'menu.html' %}
            </div>
        </nav>
    </div>
</div>

<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <!-- end page title -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Url Name</th>
                                    <th>File</th>
                                    <th>Donwload files</th>
                                    <th>Uploaded</th>
                                    <th>time</th>
                                    <th></th>

                                </tr>
                            </thead>


                            <tbody>

                                {% for item in res %}
                                <tr>
                                    <td>{{ item.urlname }}</td>
                                    <td>{{ item.file }}</td>
                                    <td> <button class="btnss"
                                            onclick="window.location.href = '/download_url/{{item.file.name}}'"><i
                                                class="fa fa-download"></i> Download</button></td>
                                    <td>{{ item.uploaded_by }}</td>
                                    <td>{{ item.uploaded_time }}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>

                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
        <!-- end row-->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

{% endblock %}